# exercise with pandas

every "..." should be replaced with a line of code

In [4]:
import pandas as pd
import os
import zipfile

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [2]:
...
...
...
!curl https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip?accessType=DOWNLOAD>nyc_pluto_18v1.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 46.0M  100 46.0M    0     0  98.0M      0 --:--:-- --:--:-- --:--:-- 97.9M

In [5]:
zip_ref = zipfile.ZipFile("nyc_pluto_18v1.zip", 'r')
zip_ref.extractall(os.getenv("PUIDATA"))
zip_ref.close()

In [23]:
df_ma = pd.read_csv(os.getenv("PUIDATA") + "/PLUTO_for_WEB/" + 'MN_18v1.csv')
df_br = pd.read_csv(os.getenv("PUIDATA") + "/PLUTO_for_WEB/" + 'BK_18v1.csv')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# read in te Manhattan and Brooklyn data in 2 separate dataframes w pandas

## show the first 10 lines of each df

In [25]:
# show manhattan 10 rows
df_ma.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.0,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1

In [26]:
# show brooklyn 10 rows
df_br.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1

## display all columns in each file

In [27]:
# show bk
df_br.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [28]:
# show mn
df_ma.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

# drop all columns but ZipCode and LandUse

In [29]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
df_ma.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],axis =1, inplace = True)
df_ma.head()

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0

In [30]:
# drop columns here...
df_br.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass',  'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],axis=1, inplace=True)
df_br.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

# use groupby to count the building per LandUse code

In [36]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes 
# (hint: use also reset_index) for each df
mngrouped = df_ma.groupby(['LandUse']).count()
mngrouped.reset_index(inplace = True)
mngrouped

    LandUse  ZipCode
0       1.0     4019
1       2.0    16246
2       3.0     4881
3       4.0     7238
4       5.0     4465
5       6.0      726
6       7.0      386
7       8.0     2456
8       9.0      434
9      10.0      679
10     11.0     1199

In [37]:
# group BK by land use
bkgrouped = df_br.groupby(['LandUse']).count()
bkgrouped.reset_index(inplace = True)
bkgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

# convert the landuse to integer

In [42]:
# convert LandUse to int using the .astype() method of the series
mngrouped['LandUse'] = mngrouped['LandUse'].astype(int)
bkgrouped['LandUse'] = bkgrouped['LandUse'].astype(int)
bkgrouped.head()

   LandUse  ZipCode
0        1   156271
1        2    66358
2        3     3437
3        4    22515
4        5     5743

# merge the dataframes on land use

In [44]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
both = pd.merge(mngrouped,bkgrouped,on='LandUse')
both.columns

Index(['LandUse', 'ZipCode_x', 'ZipCode_y'], dtype='object')

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [52]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both.rename(index=str,columns={'ZipCode_x':'mn', 'ZipCode_y':'bk'},inplace = True)
both

    LandUse     mn      bk
0         1   4019  156271
1         2  16246   66358
2         3   4881    3437
3         4   7238   22515
4         5   4465    5743
5         6    726    4434
6         7    386    1040
7         8   2456    4330
8         9    434     872
9        10    679    4229
10       11   1199    6298

## find online the LandUse data dictionary and replace code w the verbose description of it

In [54]:
# set up Land Use values to descriptive tag
landuse_categories = {1:"One &Two Family Buildings" , 2:"Multi-Family Walk-Up Buildings",3:"Multi-Family Elevator Buildings" 
                      ,4:"Mixed Residential & Commercial Buildings" ,5:"Commercial & Office Buildings" ,
                      6:"Industrial & Manufacturing" ,7:"Transportation & Utility" ,8:"Public Facilities & Institutions" ,
                      9:"Open Space & Outdoor Recreation" ,10:"Parking Facilities" ,11:"Vacant Land"}
both['LandUse'] = both['LandUse'].map(landuse_categories)
both

                                     LandUse     mn      bk
0                  One &Two Family Buildings   4019  156271
1             Multi-Family Walk-Up Buildings  16246   66358
2            Multi-Family Elevator Buildings   4881    3437
3   Mixed Residential & Commercial Buildings   7238   22515
4              Commercial & Office Buildings   4465    5743
5                 Industrial & Manufacturing    726    4434
6                   Transportation & Utility    386    1040
7           Public Facilities & Institutions   2456    4330
8            Open Space & Outdoor Recreation    434     872
9                         Parking Facilities    679    4229
10                               Vacant Land   1199    6298

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [58]:
# calculate the ratio of BK to Man buildings per LandUse category
both['luration'] = both['bk']/both['mn']
both

                                     LandUse     mn      bk   luration
0                  One &Two Family Buildings   4019  156271  38.883055
1             Multi-Family Walk-Up Buildings  16246   66358   4.084575
2            Multi-Family Elevator Buildings   4881    3437   0.704159
3   Mixed Residential & Commercial Buildings   7238   22515   3.110666
4              Commercial & Office Buildings   4465    5743   1.286226
5                 Industrial & Manufacturing    726    4434   6.107438
6                   Transportation & Utility    386    1040   2.694301
7           Public Facilities & Institutions   2456    4330   1.763029
8            Open Space & Outdoor Recreation    434     872   2.009217
9                         Parking Facilities    679    4229   6.228277
10                               Vacant Land   1199    6298   5.252711

In [62]:
# defined function that returns True if the ratio is larger than 0, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created
both['Manhattan wins'] = both['luration'].apply(lambda x: x<1)
both

,LandUse,mn,bk,luration,Manhattan wins
0,One &Two Family Buildings,4019,156271,38.883055,False
1,Multi-Family Walk-Up Buildings,16246,66358,4.084575,False
2,Multi-Family Elevator Buildings,4881,3437,0.704159,True
3,Mixed Residential & Commercial Buildings,7238,22515,3.110666,False
4,Commercial & Office Buildings,4465,5743,1.286226,False
5,Industrial & Manufacturing,726,4434,6.107438,False
6,Transportation & Utility,386,1040,2.694301,False
7,Public Facilities & Institutions,2456,4330,1.763029,False
8,Open Space & Outdoor Recreation,434,872,2.009217,False
9,Parking Facilities,679,4229,6.228277,False
10,Vacant Land,1199,6298,5.252711,False

# comment on what you found out. Does it make sense?

There are more multi-family elevator buildings in Manhattan and this could be true as the buildings in Manhattan tend to have more floors than the buildings in Brooklyn.